body {
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "n n n"
  "h h h"
  "a a as"
  "a a as"
  "f f f";
  gap: 10px;
}
header,
nav,
article,
aside,
footer {
  border: 5px solid wheat;
  padding: 5px;
}
header {
  grid-area: h;
}
nav {
  grid-area: n;
}
article {
  grid-area: a;
}
aside {
  grid-area: as;
}
footer {
  grid-area: f;
}

@media screen and (max-width:600px) {
  main {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
      "h h"
      "n a"
      "f f";
    gap: 10px;
  }
}
@media screen and (max-width:400px) {
  main {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
      "h"
      "n"
      "f";
    gap: 10px;
  }




}